body {
    background-color: #f8d9af;
}

* {
    transition: ease-in-out 0.2s;
}

.nav-link {
    margin-left: 5px;
}

.nav-link:hover,
.disabled {
    transition: ease-in-out 0.2s;
    background-color: #326072;
}

.navbar-toggler-icon {
    background-color: aliceblue;
}

.container {
    margin-top: 150px;
}


/* .bd-example {
    display: block;
    width: 500px;
} */