body {
    /* background-color: #f8d9af; */
    background-color: #ffffff;
}

* {
    transition: ease-in-out 0.2s;
}

.nav-link {
    margin-left: 5px;
}

.nav-link:hover,
.disabled {
    transition: ease-in-out 0.2s;
    background-color: #326072;
}

.navbar-toggler-icon {
    background-color: aliceblue;
}

.container {
    margin-top: 85px;
}


/* .bd-example {
    display: block;
    width: 500px;
} */

#best {
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: factcool, sans-serif;
    text-align: center;
    border-top: 300px inherit #326072;
    /* border-color: green;
    border-style: inherit;
    border-width: 3px; */
    margin-bottom: 25px;
    margin-top: 50px;
    text-align: center;
}

.row {
    margin: 0;
}

.card-body {
    background-color: #f3f3f3;
    border-color: #123644;
    border-style: groove;
    border-width: 1px;
}

.card-body:hover {
    background-color: rgb(231, 231, 231);
}

.small {
    font-size: 18px;
    margin-top: 15px;
}

.text-dark {
    text-decoration: none;
}

.discount {
    width: 800px;
    height: 100px;
    /* background-color: #326072; */
    margin-top: 5px;
    margin-bottom: 25px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-style: inset;
    border-width: 2px;
    border-color: #326072;
}

.discount:hover {
    background-color: #edf1f3;
}

.bi-bag-check-fill {
    font-size: 40px;
}

@media screen and (max-width: 835px) {
    .discount {
        width: 500px;
    }
}

@media screen and (max-width: 530px) {
    .discount {
        width: 250px;
    }
}

.sections {
    margin-top: 85px;
}

.img {
    margin-left: 15px;
    opacity: 0.9;
}

.img:hover {
    opacity: 1;
    cursor: pointer;
}

.imgContainer1 {
    position: relative;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    margin-top: 125px;
    font-size: 25px;
}

.promotions img {
    padding-top: 50px;
}

.responsiveSections {
    display: none;
    padding-top: 55px;
    padding-bottom: 20px;
}

.imgRespSections {
    margin-top: 10px;
}

.promImg {
    margin-left: 15px;
    cursor: pointer;
}

#responsiveImgContainer {
    display: none;
    margin-top: 25px;
    margin-bottom: 25px;
}

.promImgResp {
    padding-top: 5px;
    width: 380px;
    cursor: pointer;
}

@media screen and (max-width: 1260px) {
    .promImg {
        width: 450px;
    }
}

@media screen and (max-width: 1200px) {
    .img {
        width: 450px;
    }
}

@media screen and (max-width: 995px) {
    .img {
        width: 350px;
    }
    .centered {
        margin-top: 0px;
    }
    .promImg {
        width: 350px;
    }
}

@media screen and (max-width: 765px) {
    .img {
        width: 250px;
    }
    #responsiveImgContainer {
        display: block;
    }
    #imgContainer {
        display: none;
    }
    /* ============ */
    #sectionsResponsiving {
        display: none;
    }
    .responsiveSections {
        display: block;
    }
}

@media screen and (max-width: 550px) {
    .img {
        width: 200px;
        margin-left: 5px;
    }
    .imgRespSections {
        width: 400px;
    }
}

@media screen and (max-width: 450px) {
    .img {
        width: 150px;
        margin-left: 5px;
    }
    .promImgResp {
        width: 300px;
    }
    .imgRespSections {
        width: 300px;
    }
}


/* ==================man=========================== */

#manWindow {
    width: 1200px;
    /* height: 800px; */
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
}

#clothingImgSections {
    width: 250px;
    cursor: pointer;
}

.clothingImgSectionsDiv:hover {
    color: rgb(255, 196, 0);
    transition: ease-in-out 0s;
}

.clothingImgSectionsDiv {
    margin-left: 10px;
}

.manClothes {
    width: 1200px;
    height: 100px;
    /* height: 800px; */
    background-color: #ffffff;
    /* display: flex; */
    /* justify-content: space-around; */
}

@media screen and (max-width: 1185px) {
    #manWindow {
        width: 1500px;
        /* height: 800px; */
        background-color: #ffffff;
        display: flex;
        justify-content: space-around;
    }
    #clothingImgSections {
        width: 200px;
        cursor: pointer;
    }
}

@media screen and (max-width: 910px) {
    #manWindow {
        width: 1000px;
        /* height: 800px; */
        background-color: #ffffff;
        display: flex;
        justify-content: space-around;
    }
    #clothingImgSections {
        width: 150px;
        cursor: pointer;
    }
}